.contacts
  h2.footer-title.contacts__title Наши контакты

  .contacts__data
    a.contacts__item(href="tel:89897175651") 
      img(src="img/icons/icon-footer-phone.png", alt="icon-phone")
      | +7 (989) 717 56 51 
    a.contacts__item(href="tel:89888937697") 
      img(src="img/icons/icon-footer-phone.png", alt="icon-phone")
      | +7 (989) 893 76 97 
    a.contacts__item(href="mailto:info@мастерская-душевых.рф") 
      img(src="img/icons/icon-footer-email.png", alt="icon-email")
      | info@мастерская-душевых.рф 

  .contacts-social 
    span.contacts-social__text Присоединяйтесь
    .contacts-social__box 
      a.contacts-social__item(href="#")
        img(src="img/icons/icon-footer-tg.png", alt="icon-tg")
      a.contacts-social__item(href="#")
        img(src="img/icons/icon-footer-vk.png", alt="icon-tg")
      a.contacts-social__item(href="#")
        img(src="img/icons/icon-footer-ya.png", alt="icon-tg")

  p.contacts__text 
    b Изготовлениее и установка #[br] дверей и перегородок из закаленного стекла

  p.contacts__text ИП “Мастерская Душевых”
  
  p.contacts__text ОГРНИП 320463200037730
