-
  const faq = [
    {title: 'В какой момент лучше приглашать Вашего специалиста на замер?', content: '<p>Снятие финальных размеров будущего душевого ограждения производится, как правило, когда у Вас готова чистовая отделка – готов душевой поддон, положена плитка и т.д.</p> <p>Также за отдельную плату наш специалист может подъехать к Вам и в момент черновой отделки, чтобы определиться с Вами по форме и размерам душевого поддона. Но в этом случае всё равно понадобится контрольный замер после того, как Вы положите плитку. Один выезд на замер включён в стоимость изделия, а вот второй оплачивается отдельно.</p>'},
    {title: 'У меня объект в 100км. от Ростова на Дону, сможете ли Вы подъехать на замер и монтаж?', content: '<p>Снятие финальных размеров будущего душевого ограждения производится, как правило, когда у Вас готова чистовая отделка – готов душевой поддон, положена плитка и т.д. </p> <p>Также за отдельную плату наш специалист может подъехать к Вам и в момент черновой отделки, чтобы определиться с Вами по форме и размерам душевого поддона. Но в этом случае всё равно понадобится контрольный замер после того, как Вы положите плитку. Один выезд на замер включён в стоимость изделия, а вот второй оплачивается отдельно.</p>'},
    {title: 'Какой у Вас срок изготовления?', content: '<p>Снятие финальных размеров будущего душевого ограждения производится, как правило, когда у Вас готова чистовая отделка – готов душевой поддон, положена плитка и т.д. </p> <p>Также за отдельную плату наш специалист может подъехать к Вам и в момент черновой отделки, чтобы определиться с Вами по форме и размерам душевого поддона. Но в этом случае всё равно понадобится контрольный замер после того, как Вы положите плитку. Один выезд на замер включён в стоимость изделия, а вот второй оплачивается отдельно.</p>'},
    {title: 'Заключается ли договор, как проводится оплата?', content: '<p>Снятие финальных размеров будущего душевого ограждения производится, как правило, когда у Вас готова чистовая отделка – готов душевой поддон, положена плитка и т.д. </p> <p>Также за отдельную плату наш специалист может подъехать к Вам и в момент черновой отделки, чтобы определиться с Вами по форме и размерам душевого поддона. Но в этом случае всё равно понадобится контрольный замер после того, как Вы положите плитку. Один выезд на замер включён в стоимость изделия, а вот второй оплачивается отдельно.</p>'},
    {title: 'Насколько герметичны ваши конструкции?', content: '<p>Снятие финальных размеров будущего душевого ограждения производится, как правило, когда у Вас готова чистовая отделка – готов душевой поддон, положена плитка и т.д. </p> <p>Также за отдельную плату наш специалист может подъехать к Вам и в момент черновой отделки, чтобы определиться с Вами по форме и размерам душевого поддона. Но в этом случае всё равно понадобится контрольный замер после того, как Вы положите плитку. Один выезд на замер включён в стоимость изделия, а вот второй оплачивается отдельно.</p>'},
  ]

section.faq 

  .container 

    .faq__titlebox 
      h2.title.faq__title Вопросы и ответы
      .correction 
        span.correction__text Есть вопрос?
        button.correction__ordercall Заказать звонок

    .faq__box 
      each item, i in faq 
        article.faq__item(class=`${i === 0 ? 'is-active' : ''}`)
          button.faq__button
            h6.faq__name= item.title 
            .faq__iconbox 
              span.hor-line 
              span.vert-line
          .faq__contentbox 
            .faq__content
              | !{item.content}
    
