.footer__formbox

  h2.footer-title.form-title Перезвоните мне

  form.form

    .form__inputbox.form__inputbox--name 
      input.form__input(type="text" placeholder="Ваше имя")
      label.form__inputname Ваше имя

    .form__inputbox 
      input.form__input.js-maskPhone(type="text" placeholder="Ваш телефон")
      label.form__inputname Ваш телефон

    .form__textbox 
      label.form__textname Ваш Вопрос
      textarea.form__text

    button.form__button Отправить

    span.form__agree Отправляя форму вы даете свое согласие на #[a(href="#") обработку персональных данных] 