.instructions
  .instructions__box
    h2.footer-title.instructions__title С чего начать?
    ul.instructions-list 
      li.instructions-list__item 
        img.instructions-list__icon(src="img/icons/icon-point.png", alt="icon")
        | Ознакомьтесь с #[a.instructions-list__link(href="#") примерами наших работ.]
      li.instructions-list__item 
        img.instructions-list__icon(src="img/icons/icon-point.png", alt="icon")
        | Почитайте #[a.instructions-list__link(href="#") отзывы наших клиентов.]
      li.instructions-list__item 
        img.instructions-list__icon(src="img/icons/icon-point.png", alt="icon")
        | Воспользуйтесь выгодными условиями по #[a.instructions-list__link(href="#") Акции.]
    img.instructions__logo(src="img/footer-logo.png", alt="logo")
  p.copyright 
    | 2025 © Мастерская Душевых. #[br] Все права защищены.