section.ordercall 

  .container 

    .ordercall__box

      h2.title.ordercall__title Узнайте стоимость

      form.ordercall-form
        input.ordercall-form__input.js-maskPhone(type="phone" placeholder="Номер телефона")
        button.ordercall-form__button 
          | Узнать стоимость
          img(src="img/icons/icon-arrow-right.png", alt="icon")