:root{
	--font-regular: 'Nunito-Regular', sans-serif;
	--font-medium: 'Nunito-Medium', sans-serif;
	--font-semibold: 'Nunito-SemiBold', sans-serif;
	--font-bold: 'Nunito-Bold', sans-serif;
	--font-black: 'Nunito-Black', sans-serif;

	--color-black: #030306;
	--color-white: #fff;
	--color-blue: #0a54aa;
	--color-gray: #7a7a7a;
	--color-skyblue: #cfe5ff;
}



