<!DOCTYPE html>
html(lang="ru")
	head
		include ./../sections/_head.pug
		title Site | Home
	body
		
		include ./../sections/_header.pug

		include ./../sections/_present.pug

		include ./../sections/_catalog.pug

		include ./../sections/_ordercall.pug
		
		include ./../sections/_reviews.pug

		include ./../sections/_cases.pug

		include ./../sections/_steps.pug

		include ./../sections/_faq.pug

		include ./../sections/_ordercall.pug

		include ./../sections/_footer.pug
		
		include ./../sections/_scripts.pug