<!DOCTYPE html>
html(lang="ru")
	head
		include ./../sections/_head.pug
		title Site | Templates
	body
		include ./../sections/_header.pug
		.templates
			h1 Шаблоны

			
		include ./../sections/_footer.pug
		
		include ./../sections/_scripts.pug